// Background colors
$bgLanding: #F4F6F9;
$bgLightGrey: #FAFAFA;
$bgWhite: #FFFFFF;
$bgAzure: #00ADEE;
$Grey100: #828282;
$Grey90: #979595;
$Grey70: #B2B0B0;
$Grey50:#CDCBCB;
$Grey30: #E2E1E1;
$Grey20: #EEEEEE;
$Grey10: #F7F7F7;
// Colors
$txtAzure:#00ADEE;
$txtWhite: #FFFFFF;
$txtGrey:#333333;
$txtBody:#4F4F4F;
$txtBlack: #000000;