body,
p,
a,
a:active,
a:visited {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

@mixin sectionTitleMX {
    margin-bottom: 30px;
}

@mixin sectionBodyTitleMX {
    margin-bottom: 30px;
}

@mixin sectionBodyMX {
    margin-bottom: 30px;
    line-height: 25px;
}

@mixin marginLeft35 {
    margin-left: 35px;
}

@mixin containerMixin {
    max-width: 1440px;
    padding: 0;
}

.container {
    @include containerMixin;
    @include breakpoint('desktop') {
        @include position(relative, $top: -100px);
    }
}

.section__title {
    @include sectionBodyTitleMX;
    @include align-center;
    @include uppercase;
    @include size16;
    color: $txtAzure;
    @include breakpoint('desktop') {
        @include align-left;
    }
}

.section__body-title {
    @include sectionBodyTitleMX;
    color: $txtGrey;
    @include size28;
    @include bold;
    @include align-center;
    line-height: 40px;
    letter-spacing: 0.03em;
    @include breakpoint('desktop') {
        @include align-left;
    }
}

.section__body {
    @include sectionBodyMX;
    @include align-center;
    @include size16;
    @include breakpoint('desktop') {
        @include align-left;
    }
}

.learn__more {
    @include align-center;
    @include size16;
    color: $txtAzure;
}