* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body,
p,
a,
a:active,
a:visited {
    font-family: 'Lato', sans-serif;
    ;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}