.get-started {}

.get-started .container:last-child {
    background: url('assets/images/svg/get-started-bg.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}


/* 
.get-started__icon {}

.get-started__icon--notification {}

.get-started__icon--dot {}

.get-started__icon--screen {} */