// Section 1 - Landing
.landing-section {
    background-color: $bgLanding;
    @include flex;
    @include flex-col;
    @include flex-center-x;
    @include breakpoint("desktop") {}
    &__logo {
        @include containerMixin;
        @include flex;
        @include flex-start-y;
    }
    &__logo__img {
        margin-top: 32px;
        margin-left: 131px;
    }
    &__container {
        @include containerMixin;
        @include flex;
        @include flex-col;
        @include flex-center-x;
    }
    &__body {
        @include sectionBodyMX;
        color: $txtBody;
        @include size18;
        @include align-center;
    }
    &__stores {
        @include flex;
    }
    &__stores__google {
        @include marginLeft35;
    }
}