// Section 1 - Landing
.landing-section {
    background-color: $bgLanding;
    @include flex;
    @include flex-col;
    @include flex-center-x;
    @include breakpoint('desktop') {
        @include width100Percent;
        @include height100VH;
        @include padding0165;
        background-image: url('assets/images/jpg-png/landing-bg.png');
        background-position: top right;
        @include noRepeat;
    }
    &__logo {
        @include containerMixin;
        @include flex;
        @include flex-start-y;
    }
    &__logo__img {
        margin-top: 32px;
        margin-left: 131px;
        @include breakpoint ('desktop') {
            margin-left: 1px;
            margin-top: -110px;
        }
    }
    &__container {
        @include containerMixin;
        @include flex;
        @include flex-col;
        @include flex-center-x;
    }
    &__body-title {
        color: $txtGrey;
        @include size30;
        @include bold;
        @include align-center;
        line-height: 40px;
        letter-spacing: 0.03em;
        @include breakpoint ('desktop') {
            @include align-left;
            @include size36;
            width: 546px;
            height: 96px;
        }
    }
    &__body {
        @include sectionBodyMX;
        color: $txtBody;
        @include size18;
        @include align-center;
        @include breakpoint('desktop') {
            @include align-left;
            width: 453px;
            height: 52px;
        }
    }
    &__stores {
        @include flex;
    }
    &__stores__google {
        @include marginLeft35;
    }
}