    // Section 2 - What it does
    .what-it-does {
        margin: 70px 0;
        flex-direction: column-reverse;
        @include align-center;
        @include flex-center-y;
        @include flex-center-x;
        @include flex;
        @include breakpoint('desktop') {
            flex-direction: row;
        }
        &__match {
            @include widthHeight($width: 100%, $height: auto);
            padding: 30px 20px 0 20px;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url('assets/images/jpg-png/ronaldo.jpg');
            background-position: center;
            background-size: cover;
            @include breakpoint('desktop') {
                @include widthHeight($width: 60%, $height: 590px);
                background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
                padding: 7% 0;
                //@include flex;
            }
        }
        &__match__panel {
            z-index: 1;
            @include position(relative,
            $top: 20px, $left: -50px);
            @include widthHeight($width: 300px, $height: 200px);
            @include breakpoint('desktop') {
                @include widthHeight($width: 360px, $height: 220px);
                position: relative;
                box-shadow: 4px 4px 15px 0px rgba(50, 50, 50, 0.5);
            }
        }
        &__match__panel__info {
            background-color: $bgWhite;
            height: 80%;
            border-radius: 4px 4px 0 0;
        }
        &__match__video {
            @include widthHeight($width: 300px, $height: 200px);
            @include position(relative,
            $top: -40px, $left: 20px);
            margin-top: -20px;
            box-shadow: 0;
            @include breakpoint('desktop') {
                @include widthHeight($width: 360px, $height: 220px);
                @include position(relative,
                $top: -20px, $left: 100px);
                box-shadow: 4px 4px 15px 0px rgba(50, 50, 50, 0.5);
                border: 0;
            }
        }
        &__match__video__player {
            @include position(relative,
            $top: -90px, $left: 20px);
            @include widthHeight($width: 300px, $height: 35px);
            z-index: 1;
        }
        &__match__panel__info__logos {
            @include position(relative,
            $top: -160px, $left: 70px);
        }
        &__match__panel__info__logos__arsenal {
            z-index: 0;
        }
        &__match__panel__info__logos__chelsea {
            z-index: 1;
            margin-left: -20px;
        }
        &__match__panel__notifications {
            margin-top: -57px;
            background-color: $Grey20;
            height: 20%;
            border-radius: 0 0 4px 4px;
            p {
                @include position(relative,
                $top: 8px, $left: -30px);
            }
            img {
                @include position(relative,
                $bottom: 28px, $left: 250px);
            }
        }
        &__match__panel__notifications__elem {
            @include flex;
            @include flex-center-x;
            @include flex-center-y;
        }
        &__match__panel__info__sub {
            p {
                @include align-left;
                @include size14;
            }
        }
        &__match__panel__info__sub__date {
            @include position(relative,
            $top: 15px, $left: 11px);
            @include widthHeight($width: 82px, $height: 16px);
            line-height: 15px;
            color: $txtBody;
            @include bold;
        }
        &__match__panel__info__sub__teams {
            @include position(relative,
            $top: -15px, $left: 11px);
            @include widthHeight($width: 66px, $height: 35px);
            color: $txtBlack;
        }
        &__match__panel__info__sub__type {
            @include position(relative,
            $top: -55px, $left: 11px);
            @include widthHeight($width: 95px, $height: 18px);
            color: $txtBlack;
        }
    }