    // Section 2 - What it does
    .what-it-does {
        margin: 70px 0;
        flex-direction: column-reverse;
        @include align-center;
        @include flex-center-y;
        @include flex-center-x;
        @include flex;
        &__match {
            width: 100%;
            height: auto;
            padding: 30px 20px 0 20px;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url('assets/images/jpg-png/ronaldo.jpg');
            background-position: center;
            background-size: cover;
            @include breakpoint('desktop') {
                width: 60%;
                height: 590px;
                background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
                padding: 7% 0;
            }
        }
        &__match__panel {
            @include widthHeightMatch;
            z-index: 1;
            @include breakpoint('desktop') {
                width: 360px;
                height: 220px;
                position: relative;
                box-shadow: 4px 4px 15px 0px rgba(50, 50, 50, 0.5);
            }
        }
        &__match__panel__info {
            background-color: $bgWhite;
            height: 80%;
            border-radius: 4px 4px 0 0;
        }
        &__match__video {
            @include widthHeightMatch;
            position: relative;
            top: -60px;
            left: 20px;
            box-shadow: 0;
            z-index: 0;
            @include breakpoint('desktop') {
                width: 360px;
                height: 220px;
                position: relative;
                top: -20px;
                left: 100px;
                box-shadow: 4px 4px 15px 0px rgba(50, 50, 50, 0.5);
                border: 0;
            }
        }
        &__match__panel__info__logos__arsenal {
            @include breakpoint('desktop') {
                z-index: 0;
            }
        }
        &__match__panel__info__logos__chelsea {
            @include breakpoint('desktop') {
                z-index: 1;
            }
        }
        &__match__panel__notifications {
            margin-top: -59px;
            background-color: $Grey20;
            height: 20%;
            border-radius: 0 0 4px 4px;
            p {
                position: relative;
                left: -30px;
                top: 8px;
            }
            img {
                position: relative;
                left: 250px;
                bottom: 28px;
            }
        }
        &__match__panel__notifications__elem {
            @include flex;
            @include flex-center-x;
            @include flex-center-y;
        }
    }